@import "tailwindcss";

@layer base {
  :root {
    --background: #128739;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
  }
  
  html {
    scroll-behavior: smooth;
  }
      
  body {
    color: #128739;
    background: #128739;
    -webkit-font-smoothing: antialiased;
  }
}